nav 
{
	display: none;
}
section#content
{
	margin: 0px;
	padding: 5px;
}
header
{	
	display: none;
}

footer 
{
	display: none;
}
div.print_info
{
	display: block;
}

.sub:not(.sub_on)
{
display: none;
}
table.style1
{
	font-size:12px;
}
a.button_style1
{
display: none;
}

	td.date_button_width
	{
		width: auto;
	}
