<div th:fragment="header">
    <div class="logo_area">
        <a href="/"><img src="/theme/img/logo.png" class="logo2"></a>
    </div>
    <div class="info_area">
        {{ request.user.name }}
        <span style="color: #c5c5c5"> 님 환영합니다.</span>
    </div>
    <a class="button" onclick="logout()">로그아웃</a>
    <script>
        function logout() {
            $.ajax({
                type: "POST",
                url: '/api/auth/logout/',
                success: function (data) {
                    location.href = "/login/";
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    location.href = "/login/";
                }
            });
        }
    </script>
    <a class="button" onclick="print()">페이지 인쇄</a>
    {% if request.proxied %}
    <a class="button" onclick="login_return()">관리자 계정으로 돌아가기</a>
    <input type="hidden" value={{ request.proxy_admin_userid }} name="first_id">
    <script>
        function login_return() {
            $.ajax({
                type: "POST",
                data: {
                    id: $("input[name=first_id]").val()
                },
                url: '/function/login.php',
                success: function (data) {
                    location.href = "/";
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("실패");
                }
            });
        }
    </script>
    {% endif %}


</div>