<div th:fragment="navigation">
    <dl id="admin_menu" style="display: none">
        <dt>관리자 메뉴</dt>
        <dd>
            <a href="/admin/members">회원 관리</a>
            <a href="/admin/requests">보험 요청내역 확인</a>
        </dd>
    </dl>

    <dl>
        <dt>내 정보</dt>
        <dd>
            <a href="/account/info">회원 정보</a>
        </dd>
    </dl>

    <dl>
        <dt>간병인 관리</dt>
        <dd>
            <a href="/caregiver/register">가입 정보 등록</a>
            <a href="/caregiver/view">목록 조회</a>
        </dd>
    </dl>

    <script>
        userManager.ready((userData) => {
            if (userData.isAdmin) {
                $("#admin_menu").show();
            }
        });
    </script>
</div>
