<div th:fragment="navigation">
    <dl>
        <dt>메인 메뉴</dt>
        <dd>
            <a href="/123">선택된 메뉴 1</a>
            <a href="/123">메뉴 2</a>
            <a href="/123">메뉴 3</a>
        </dd>
    </dl>

    <dl>
        <dt>내 정보</dt>
        <dd>
            <a href="/account/info">회원 정보</a>
        </dd>
    </dl>

    <dl>
        <dt>간병인 관리</dt>
        <dd>
            <a href="/caregiver/register">가입 정보 등록</a>
            <a href="/caregiver/view">목록 조회</a>
        </dd>
    </dl>
</div>
